*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# ruby-oci8 artifacts

mrblib/oci8.rb
src/Makefile
src/apiwrap.c
src/apiwrap.h
src/depend
src/extconf.h
src/mkmf.log
